.card-wrapp{
  width: 600px;
  height: 600px;
  background-color: grey;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 10px grey;
  position: relative;
  top: 4%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-content{
  width: 100%;
  height: 90%;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-flow: column;
}

.card-scroll{
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #000000 #808080;
}

.bottom-interface{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-start;
}

.btn-add{
  width: 20%;
  margin-left: 4px;
  height: 100%;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  color: #ed5739;
  border-radius: 0px 0px 15px 0px;
  background-color: #34383d;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 1.4s;
}

.btn-add:hover{
  color: #ff0000;
  background: #5a5b5c;
}

.hidden {
  display: none;
}

.easy-workload-color{
  box-shadow: 0px 0px 30px 10px rgb(135, 209, 101);
}

.medium-workload-color{
  box-shadow: 0px 0px 30px 10px rgb(209, 202, 101);
}

.hard-workload-color{
  box-shadow: 0px 0px 30px 10px rgb(226, 84, 48);
}

@media (max-width: 600px) {
  .card-wrapp{
    width: 500px;
    height: 500px;
  }
}