.header {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 10% 70% 20%;
  width: 100%;
  height: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-items:center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ff6e51;
  grid-template-areas:
  "logo empty reg-sign"
}

.empty{
  grid-area: empty;
  width: 100%;
}

.logo {
  color: #ff6e51;
  width: 100%;
  font-size: 32px;
  text-align: center;
  grid-area: logo;
  cursor: pointer;
}

.reg-sign{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  grid-area: reg-sign;
  cursor: pointer;
}

.registration{
  border-right: 2px solid #ed5739;
  color: #ed5739;
  font-size: 30px;
  padding-right: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.registration:hover{
  text-shadow: 0 0 10px #ed5739;
}

.sign-in {
  color: #ff6e51;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.sign-in:hover{
  text-shadow: 0 0 10px #ed5739;
}

@media (max-width: 1500px) {
  .header {
    grid-template-columns: 15% 40% 25%;
  }
}

@media (max-width: 1220px) {
  .header {
    grid-template-columns: 25% 40% 35%;
  }
}

@media (max-width: 878px) {
  .header {
    grid-template-columns: 35% 20% 45%;
  }
}

@media (min-width:500px) and (max-width: 678px) {
  .header {
    grid-template-columns: 45% 0% 50%;
  }

  .logo {
    font-size: 30px;
  }

  .registration {
    font-size: 24px;
  }
  
  .sign-in {
    font-size: 24px;
  }
}